# --- Java / NetBeans / Maven / Gradle ---
**/target/
**/build/
**/dist/
**/nbproject/private/
.nb-gradle/
.gradle/
*.class
*.jar
*.war
*.ear
*.class
*.log
hs_err_pid*
replay_pid*

# --- C# / Visual Studio ---
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- Node.js / GraphQL ---
node_modules/
package-lock.json

# --- PHP / Laravel ---
/vendor/
/.env
/storage/*.key
/storage/framework/cache/*

# --- Archivos de Sistema / OS ---
.DS_Store
Thumbs.db

# --- IDEs / Editores ---
.vscode/
.idea/

# --- Paquetes / Comprimidos ---
*.zip
*.tar.gz
*.rar